<div class="flex p-5 bg-slate-50">
  <div>
    <a routerLink="/autogestion/inicio">
      <img class="my-7"  src="../../../../assets/images/logo.png" width="100px" alt="" />
    </a>
  </div>
  <div class="w-full text-center">
    <h1>CoderHouse</h1>
  </div>
  <div class="w-auto space-x-4 space-x-reverse">
    <span>{{ usuario.apellido }}, {{ usuario.nombre }}</span>
    <br />
    <span>Perfil: <b>{{ usuario.perfil }}</b></span>
    <br>
    <span>{{ time | async }}</span>
    <br>
    <button (click)="logout()">Cerrar sesion</button>
  </div>
</div>

