<section
  class="flex w-screen h-screen md:items-center"
>
  <div class="hidden md:w-1/2 md:block">
    <img
      src="../../../../../assets/images/login-image.jpeg"
      alt=""
      class="h-screen w-screen max-w-screen max-h-screen-md object-cover object-center"
    />
  </div>

  <div class="flex flex-col w-full md:w-1/2 md:mx-auto space-y-5 justify-center items-center">
    <form action="" (ngSubmit)="signIn()" class="w-3/4">
      <div class="flex flex-col justify-center space-y-6 px-4 md:px-0">
        <div class="space-y-4">
          <div class="text-center">
            <h2 class="text-2xl">Iniciar Sesion</h2>
            <p class="text-gray-400 text-sm">
              Ingresa tus datos para iniciar sesion
            </p>
          </div>

          <div class="flex flex-col gap-y-6 md:px-10">
            <div class="space-y-0.5">
              <label for="email" class="text-sm">Correo Electronico</label>
              <input
                type="email"
                name="email"
                id="email"
                class="border-b border-b-lack outline-none font-light py-1 px-2 w-full block"
              />
            </div>
            <div class="space-y-0.5">
              <label for="password" class="text-sm">Contraseña</label>
              <input
                type="password"
                name="password"
                id="password"
                class="border-b border-b-lack outline-none font-light py-1 px-2 w-full block"
              />
            </div>

            <button
              type="submit"
              class="bg-gray-800 rounded-2xl font-bold uppercase text-white p-2"
            >
              Ingresar
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="md:px-2 space-y-2 w-3/4">
      <hr class="md:w-full md:mx-auto w-full" />
      <div class="text-xs">
        <span class="text-gray-500">¿No tienes cuenta? </span>
        <button routerLink="/autenticacion/registro" class="text-gray-800">
          Registrarse
        </button>
      </div>
      <div class="text-xs">
        <span class="text-gray-500">¿Olvidaste tu contraseña? </span>
        <button routerLink="/autenticacion/registro" class="text-gray-800">
          Recuperar
        </button>
      </div>
    </div>
  </div>
</section>
