<section class="flex w-screen h-screen md:items-center">
  <div class="hidden md:w-1/2 md:block">
    <img
      src="../../../../../assets/images/registro-image.jpg"
      alt=""
      class="h-screen w-screen max-w-screen max-h-screen-md object-cover object-center"
    />
  </div>

  <div
    class="flex flex-col w-full md:w-1/2 md:mx-auto space-y-5 justify-center items-center"
  >
    <form action="" (ngSubmit)="signUp()" class="w-3/4">
      <div class="flex flex-col justify-center px-4 md:px-0">
        <div class="space-y-10">
          <div class="text-center">
            <h2 class="text-5xl">Crear Cuenta</h2>
            <p class="text-gray-400 text-sm">
              Ingresa tus datos para crear una cuenta
            </p>
          </div>

          <div class="flex flex-col gap-y-6 md:px-10">
            <button
              type="submit"
              class="bg-gray-800 rounded-2xl font-bold uppercase text-white p-2"
            >
              Registrarse
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="md:px-2 space-y-2 w-3/4">
      <hr class="md:w-full md:mx-auto w-full" />
      <div class="text-xs">
        <span class="text-gray-500">¿Ya tienes cuenta? </span>
        <button routerLink="/autenticacion/ingresar" class="text-gray-800">
          Inicia Sesion
        </button>
      </div>
      <div class="text-xs">
        <span class="text-gray-500">¿Olvidaste tu contraseña? </span>
        <button routerLink="/autenticacion/recuperarpassword" class="text-gray-800">
          Recuperar
        </button>
      </div>
    </div>
  </div>
</section>
