<div class="bg-gray-300 w-full px-40 py-2 shadow-lg">
  <nav>
    <ul class="flex flex-row justify-center">
      <li class="mr-2 border-r-2 border-slate-400"><a class="pr-2" href="">Preinscripcion a materias</a></li>
      <li class="mr-2 border-r-2 border-slate-400"><a class="pr-2" href="">Reportes</a></li>
      <li class="mr-2 border-r-2 border-slate-400"><a class="pr-2" href="">Inscripcion a examenes</a></li>
      <li class="mr-2 border-r-2 border-slate-400"><a class="pr-2" href="">Tramites</a></li>
      <li class="mr-2 border-r-2 border-slate-400"><a class="pr-2" href="">Noticias</a></li>
      <li class="mr-2"><a class="" href="">Calendario academico</a></li>
    </ul>
  </nav>
</div>
