<div class="w-48 bg-white shadow-xl rounded-lg mx-1 -mt-3">
  <mat-card>
    <mat-card-subtitle>Sistemas Operativos</mat-card-subtitle>
    <div class="-mt-2 mb-5">
      <mat-divider></mat-divider>
    </div>
    <mat-card-content>
      <small>Horarios: Mar 08:30 a 13:15 - Sab 09:15 a 11:00</small>
    </mat-card-content>
      <mat-card-actions align="end">
        <div class="-mt-8">
          <button  mat-mini-fab color="warn">X</button>
        </div>
      </mat-card-actions>
  </mat-card>
</div>

