<div
  class="flex sm:flex-col items-center justify-center h-screen w-screen animate__animated animate__zoomIn p-5 sm:p-0"
>
  <div
    class="w-6/12 sm:w-full md:w-1/2 sm:mr-0 animate__animated animate__fadeIn sm:hidden"
  >
    <div class="sm:w-full flex items-center justify-center">
      <img
        class="object-fill sm:h-56 sm:w-[430x]"
        src="../../../../../assets/images/elearning.png"
        alt="example"
      />
    </div>
  </div>

  <div class="w-4/12 sm:w-full md:w-1/2 ml-5 sm:ml-0">
    <div [@routing]="prepareRoute(outlet)">

      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
