<div class="container mx-auto text-slate-100 font-bold text-lg">

  <a class="focus:bg-slate-500"  routerLink="/autogestion/inicio" mat-button>Inicio</a>
  <a class="focus:bg-slate-500" routerLink="/autogestion/inscripcion" mat-button>Inscripcion a materias</a>
  <a class="focus:bg-slate-500" routerLink="/autogestion/alumnos" mat-button>Alumnos</a>
  <a class="focus:bg-slate-500" routerLink="/autogestion/cursos" mat-button>Cursos</a>
  <a class="focus:bg-slate-500" routerLink="/autogestion/usuarios" mat-button>Usuarios</a>
</div>
