

<div class="sm:hidden">
  <a
    class="focus:bg-slate-500 text-white"
    routerLink="/autogestion/inicio"
    mat-button
    >Inicio</a
  >
  <a
    class="focus:bg-slate-500 text-white"
    routerLink="/autogestion/inscripcion"
    mat-button
    >Inscripcion a materias</a
  >
  <a
    class="focus:bg-slate-500 text-white"
    routerLink="/autogestion/alumnos"
    mat-button
    >Alumnos</a
  >
  <a
    *ngIf="respuesta"
    class="focus:bg-slate-500 text-white"
    routerLink="/autogestion/usuarios"
    mat-button
    >Usuarios</a
  >
</div>
