<div class="flex">
  <a routerLink="/autogestion/alumnos" class="mt-1 mr-3"
    ><mat-icon>arrow_back</mat-icon></a
  >
  <h1 dirAgrandarLetra>Regresar</h1>
</div>

<div class="flex flex-wrap">
  <mat-card class="w-full">
    <mat-card-content>
      <h3><u>Datos del alumno:</u></h3>
      <div>
        <p>Nombre: {{ usuario?.nombre }}</p>
        <p>Apellido: {{ usuario?.apellido }}</p>
        <p>Dirección: {{ usuario?.direccion }}</p>
        <p>Telefono: {{ usuario?.telefono }}</p>
        <p>Perfil: {{ usuario?.perfil }}</p>
        <p>Email: {{ usuario?.email }}</p>
        <p>Sexo: {{ usuario?.sexo }}</p>
      </div>
      <h3><u>Cursos inscripto:</u></h3>
    </mat-card-content>
  </mat-card>
</div>
