<div class="grid grid-cols-6 justify-between px-10 mx-auto">
  <div class="place-self-start">
    <h1 class="text-4xl font-bold">Cursos Online</h1>
  </div>
  <div class="place-self-center col-span-4">
    <nav class="">
      <ul class="flex gap-2 text-sm">
        <li>
          <button
            [routerLink]="['/universidad/inicio']"
            routerLinkActive=""
            class=""
          >
            Inicio
          </button>
        </li>
        <li>
          <button
            [routerLink]="['/universidad/preinscripcion']"
            routerLinkActive=""
            class=""
          >
            Inscripcion a cursos
          </button>
        </li>
        <li>
          <button
            [routerLink]="['/universidad/cursos']"
            routerLinkActive=""
            class=""
          >
            Mis cursos
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="place-self-end p-2">
    <div class="flex gap-2 text-sm items-center">
      <button
        class="bg-red-500 text-white px-2 py-1 rounded-md"
        [routerLink]="['/autenticacion/ingresar']"
        routerLinkActive=""
      >Desconectarse</button>
      <img src="" alt="perfil" />
    </div>
  </div>
</div>
