<h1 class="animate__animated animate__flipInX animate__slow">Registro</h1>
<mat-divider></mat-divider>

<form [formGroup]="registroForm" (ngSubmit)="registrarse()">
  <div class="flex flex-row mt-1">
    <div class="w-1/2 mx-1">
      <mat-form-field>
        <input
          matInput
          placeholder="Nombre"
          type="text"
          formControlName="nombre"
        />
      </mat-form-field>
    </div>
    <div class="w-1/2">
      <mat-form-field>
        <input
          matInput
          placeholder="Apellido"
          type="text"
          formControlName="apellido"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-row mt-1">
    <div class="w-1/2">
      <mat-form-field>
        <input
          matInput
          placeholder="Dirección"
          type="text"
          formControlName="direccion"
        />
      </mat-form-field>
    </div>
    <div class="w-1/2">
      <mat-form-field>
        <input
          matInput
          placeholder="Telefono"
          type="tel"
          formControlName="telefono"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-row mt-1">
    <div class="w-1/2">
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          type="text"
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <div class="w-1/2">
      <mat-form-field>
        <input
          matInput
          placeholder="Repetir email"
          type="text"
          formControlName="confirmarEmail"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-row mt-1">
    <div class="w-1/2">
      <mat-form-field>
        <input
          matInput
          placeholder="Contraseña"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
    </div>
    <div class="w-1/2">
      <mat-form-field>
        <input
          matInput
          placeholder="Repetir contraseña"
          type="password"
          formControlName="confirmarPassword"
        />
      </mat-form-field>
    </div>
  </div>

  <div
    class="flex justify-center mb-2 animate__animated animate__flipInX animate__slow"
  >
    <button
      class="text-white bg-cyan-900 p-3 rounded-md hover:bg-cyan-800 transition-colors duration-700"
      type="submit"
    >
      {{ "Registrarse" | uppercase }}
    </button>
  </div>
</form>

<mat-divider></mat-divider>
<div class="mt-1">
  <span
    >¿Ya tienes una cuenta? <a routerLink="/auth/login">Inicie sesión</a></span
  >
</div>
