* {
  padding: 0px;
}


h1{
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0.2em #81a9ac;
  margin-bottom: 0px;
}
.contenido {
  padding-top: 20px;
  padding-bottom: 20px;

}

mat-divider {
  padding-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

button{
  margin-bottom: 10px;
  width: 50%;
  color:white;
  @media (max-width: 800px) {
    width: 60%;
  }

  @media (max-width: 600px) {
    width: 60%;
  }
}

.text-content{
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0.2em #81a9ac;
  a{
    text-decoration: none;
  }
}
