<div class="contenido">
  <h1>Registro</h1>
  <mat-divider></mat-divider>

  <form [formGroup]="registroForm" (ngSubmit)="registrarse()">
    <div fxLayout="50px" fxLayoutGap="20">
      <mat-form-field>
        <input
          matInput
          placeholder="Nombre"
          type="text"
          formControlName="nombre"
        />
        <mat-error *ngIf="validarCampo('nombre')"
          >El nombre es muy corto</mat-error
          >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Apellido"
          type="text"
          formControlName="apellido"
        />
        <mat-error *ngIf="validarCampo('apellido')"
            >El apellido es muy corto</mat-error
            >
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        matInput
        placeholder="Dirección"
        type="text"
        formControlName="direccion"
      />
      <mat-error *ngIf="validarCampo('direccion')"
        >Ingrese una dirección valida</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Telefono"
        type="tel"
        formControlName="telefono"
      />
      <mat-error *ngIf="validarCampo('email')"
        >Ingrese un numero valido</mat-error
        >
    </mat-form-field>
    <div fxLayout="50px" fxLayoutGap="20">
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          type="text"
          formControlName="email"
        />
        <mat-error *ngIf="validarCampo('email')"
          >Ingrese un mail valido</mat-error
      >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Repetir email"
          type="text"
          formControlName="confirmarEmail"
        />
      </mat-form-field>
    </div>
    <div fxLayout="50px" fxLayoutGap="20">
      <mat-form-field>
        <input
          matInput
          placeholder="Contraseña"
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="validarCampo('password')"
        >La contraseña tiene que tener al menos 6 caracteres</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Repetir contraseña"
          type="password"
          formControlName="confirmarPassword"
        />
      </mat-form-field>
    </div>
    <div fxLayout fxLayoutAlign="center">
      <button
        mat-raised-button
        [style.background-color]="btnColour"
        type="submit"
      >
        {{ "Registrarse" | uppercase }}
      </button>
    </div>
  </form>

  <mat-divider></mat-divider>
  <div class="text-content" fxLayout="column">
    <span
      >¿Ya tienes una cuenta?
      <a routerLink="/auth/login">Inicie sesión</a></span
    >
  </div>
</div>
