<div class="flex">
  <a routerLink="/autogestion/cursos" class="mt-1 mr-3"
    ><mat-icon>arrow_back</mat-icon></a
  >
  <h1 dirAgrandarLetra>Regresar</h1>
</div>

<div class="flex flex-wrap">
  <div>
    <h3><u>Datos del curso:</u></h3>
    <div>
      <p>Curso: {{ curso?.nombre }}</p>
      <p>Comision: {{ curso?.comision }}</p>
      <p>Horario: {{ curso?.horario }}</p>
      <p>Docente: {{ curso?.docente }}</p>
      <p>Cupo: {{ curso?.cupo }}</p>
      <p>Fecha de inicio: {{ curso?.fechaInicio | date}}</p>
      <p>Fecha de fin: {{ curso?.fechaFin | date}}</p>
    </div>
    <h3><u>Alumnos inscriptos:</u></h3>
    <div *ngFor="let alumnos of alumno">
      <div class="border-b p-5 flex justify-between items-center">
        <p>{{ alumnos.nombre }}</p>
        <button
          class="bg-red-600 px-2 py-2 text-white uppercase font-bold text-sm"
          (click)="eliminarAlumno(alumnos._id)"
          >
          Eliminar
        </button>
      </div>
    </div>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="agregarAlumno(curso._id)"
    >
      Agregar Alumno
    </button>
  </div>
</div>
