<h1 class="max-w-max">Formuario de inscripcion a materias


</h1>
<mat-divider></mat-divider>

<app-abm-de-alumnos></app-abm-de-alumnos>

<h3>Resultados de la Preinscripción</h3>
<ul>
  <li>
    Si tu Inscripción fue ACEPTADA podrás ver la alternativa correspondiente con
    sus horarios.
  </li>
  <li>
    Si tu Inscripción fue RECHAZADA podrás ver las preinscripciones de cada
    alternativa que causaron el rechazo. Para volver a inscribirte debes seguir
    el procedimiento publicado en NOTICIAS.
  </li>
  <li>
    Para que una alternativa este aceptada debe estar en Verde y todas las
    materias ACEPTADAS
  </li>
</ul>

<h3>Resultado</h3>
