<!-- <div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="usuario">
    <ng-container *ngIf="respuesta" matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario._id }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.apellido }}</td>
    </ng-container>

    <ng-container *ngIf="respuesta" matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef>Dirección</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.direccion }}</td>
    </ng-container>
    <ng-container *ngIf="respuesta" matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.telefono }}</td>
    </ng-container>
    <ng-container *ngIf="respuesta" matColumnDef="perfil">
      <th mat-header-cell *matHeaderCellDef>Perfil</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.perfil }}</td>
    </ng-container>
    <ng-container *ngIf="respuesta" matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Sexo</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
    </ng-container>
    <ng-container *ngIf="respuesta; else alternativa" matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let usuario">
        <div class="flex justify-between">
          <button (click)="editarUsuario(usuario)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="buscarUsuario(usuario)">
            <mat-icon>assignment</mat-icon>
          </button>
          <button (click)="eliminarUsuario(usuario)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-template #alternativa>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let usuario">
          <div class="flex justify-between">
            <button (click)="buscarUsuario(usuario)">
              <mat-icon>assignment</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
    </ng-template>

    <div *ngIf="respuesta; else otro">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </div>
    <ng-template #otro>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAlter"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAlter"></tr>
    </ng-template>

  </table>
</div> -->
